.STREAM__CONTAINER {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15vw;
}

.STREAM__CARD {
    flex: 1 0 auto;
    max-width: 50%;
    width: 19rem;
    overflow: hidden;
    padding-left: 10px;
    margin: 10px 0;
    margin-right: 10px;

    &:hover {
        transform: scale(1.04);
        transition: 0.1s;
        h3 {
            color: #a991d4;
        }
    }
}


.STREAM__CARD img {
    border-radius: 6px; 
}
  
.STREAM__CARD h3 {
    color: white;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
  
.STREAM__CARD__BLOCK {
    display: flex;
    margin-top: 0.2rem;
}
  
.STREAM__CARD__TEXT {
    margin-left: 5px;
    overflow: hidden;
    p {
        font-size: 0.9rem;
        color: #bdbdbd;
        margin: 0.3rem 0;
    }
}
  
.STREAM__LINK:visited, .STREAM__LINK:active, .STREAM__LINK:link {
    text-decoration: none;
}

@media (max-width: 550px) {
    .STREAM__CARD {
      max-width: 100%;
      padding: 5px;
      text-align: center;
    }
  }