.CHANNEL__CONTAINER {
  display: flex;
  height: 90vh;
  margin-left: 15vw;
  button {
    height: 50px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #6441a5;
    border: #6441a5;
    color: white;
    cursor: pointer;
  }
  .CHAT__CONTAINER {
    flex-basis: 30%;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

.INFO__STREAM {
  flex-basis: 70%;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.CHANNEL__HEADER {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  height: 49px;
  
  border-bottom: 1px solid #3d3d3d;
  color: rgb(197, 200, 212);
  overflow-x: auto;
  overflow-y: hidden;
  
  .HEADER__BLOCK {
    display: flex;
    align-items: center;
    border-right: 1px solid #3d3d3d;
    height: 100%;
    padding: 0 10px;
    margin: 0 5px;
  }
}

.HEADER__BLOCK * { /* targeting all elements inside this block */
  margin: 0 5px;
}

@media (max-width: 979px) {
  .CHANNEL__CONTAINER {
    flex-direction: column;
    height: 100vh;
    margin-left: 4rem;
  }
  .INFO__STREAM {
    flex-basis: 35%;
  }
  .INFO__STREAM .VIDEO__FRAME {
    height: 70%;
  }
  .CHAT__CONTAINER {
    height: 100%;
  }
  
  .CHAT__CONTAINER button {
    margin: 5px 0;
    width: 100%;
  }
}