.VIDEO__CONTAINER {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.IFRAME__CONTAINER {
    margin-left: 15vw;
    overflow: hidden;
    padding-top: 40.25%;
    position: relative;
    width: 71%;
  }
  
  .IFRAME__CONTAINER iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  @media (max-width: 979px) {
    .IFRAME__CONTAINER {
      width: 78%;
      min-height: 100px;
      .VIDEO__FRAME {
        height: 70%;
      }
    }
  }