@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.SIDEBAR {
    width: 15vw;
    height: 100%;
    background: #1e1f26;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    &__LINKS {
      list-style: none;
      padding: 0;
      color: #c5c8d4;
      background-color: transparent;

      li {
        color: #c5c8d4;
        padding: 15px;
        background-color: transparent;
        &:visited {
          color: #c5c8d4;
          text-decoration: none;
        }
      }
    }
}

.SIDEBAR__FEATURED__STREAMS {
  border-top: 1px solid #3d3d3d;
  background-color: #1e1f26;

    a {
      max-height: 35px;
      display: flex;
      margin: 10px;
      margin-left: 25px;
      padding: 0 5px;
      max-width: 13vw;
    }

    img {
      margin-top: 5px;
      margin-right: 5px;
      float: left;
      clear: both;
    }

    p {
      margin: 0;
      font-size: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display:block;
      margin-top: 5px;
    }
}

.HIDE, .HIDE__TITLE {
  background-color: transparent;
}

.HIDE:hover, .HIDE__TITLE:hover  {
  color: #a991d4;
}

.HIDE__TITLE {
  color: white;
}

.STREAM__LINK:hover .HIDE__TITLE {
  color: #a991d4;
}

.SIDEBAR__BTN__HOVER:hover {
  color: #a991d4;
}

.LOGO {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.2rem;
    padding: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    background-color: transparent;
    cursor: default;
}

@media (max-width: 979px) {
  .SIDEBAR {
      width: 4rem;
  }

  .HIDE {
    display: none;
    background-color: transparent;
  }

  .SIDEBAR__FEATURED__STREAMS p {
    display: none;
  }

  .SIDEBAR__FEATURED__STREAMS a {
    margin-left: 15px;
  }

  .SIDEBAR__LOADER__MARGIN {
    margin-bottom: 1.3rem;
  }
}